# Keycloak Configuration
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_AUTH_SERVER_URL=
KEYCLOAK_COOKIE_ENCRYPTION_PASSWORD=

# Server Configuration
PORT=
NODE_ENV=

# Keycloak DB Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Postgres Runtime Configuration
KC_DB=
KC_DB_URL=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_HOSTNAME=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
