# Keycloak Configuration

KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=nestjs-app
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_COOKIE_ENCRYPTION_PASSWORD=

# Server Configuration

PORT=3000
NODE_ENV=development

# Dados do Postgres (serviço)

POSTGRES_DB=keycloak_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=master

# Configuração do Keycloak (Runtime)

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak_db
KC_DB_USERNAME=admin
KC_DB_PASSWORD=master
KC_HOSTNAME=localhost
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_DEBUG=true
KC_HTTP_ENABLED=true
KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true

# Credenciais do Painel de Admin do Keycloak

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
